*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
    background: #000;
}
h1{
    font-weight: normal;
}
/********************global*******************/
/*fonts*/
@font-face {
    font-family: 'Elegant-Icons';
    src: url("../../font/ElegantIcons.ttf");
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url("../../font/Poppins-Thin.ttf");
}
@font-face {
    font-family: 'Poppins-Light';
    src: url("../../font/Poppins-Light.ttf");
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../../font/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url("../../font/Poppins-Medium.ttf");
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../../font/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url("../../font/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'Outer-Regular';
    src: url("../../font/OuterSans-Regular.otf");
}
@font-face {
    font-family: 'Outer-Light';
    src: url("../../font/OuterSans-Light.otf");
}
@font-face {
    font-family: 'Outer-Thin';
    src: url("../../font/OuterSans-Thin.otf");
}
/*end fonts*/
section{
    /*padding: 0 15%;*/
}
.flex{
    display: flex;
}
.width-100{
    width: 100%;
}
.width-50{
    width: 50%;
}
.flex-align{
    display: flex;
    align-items: center;
}
h1{
    color: white;
}
p{
    color: white;
}
@keyframes pulse {
    0% {
        transform: scale(0.90);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.90);
    }
  }
/*****************end global*****************/
/*****************HEADER*********************/
header{
    background-color: black;
    align-items: center;
    justify-content: space-around;
    padding: 2% 0;
    border-bottom: 1px solid #707070;
}
.header-logo{
    width: 30%;
}
.header-logo a img{
    width: 100px;
}
.header-menu{
}
.header-menu a{
    font-family: 'Poppins-Regular';
    color: #707070;
    margin: 0 15px;
    font-size: 20px;
}
.header-menu a:hover{
    color: white;
}
.active{
    color: white !important;
}
.btn-price{
    background-color: white;
    padding: 10px 20px;
    border-radius: 100px; 
    transition: 0.2s;
}
.btn-price:hover{
    background:blue;
    transition: 0.2s;
}
/*menu media*/
#btn-mobile {
    display: none;
}  
@media (max-width: 900px) {
    .header-menu {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: black;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
    }
    #nav.active .header-menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    .header-menu li{
      margin: 6% 0;
    }
    #btn-price{
        margin-top: 18%;
    }
    .btn-price {
        padding: 15px 40px;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      color: white;
      cursor: pointer;
      gap: 0.5rem;
    }
    #arrow-click {
      border-top: 2px solid;
      width: 20px;
    }
    #arrow-click::after,
    #arrow-click::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #arrow-click {
      border-top-color: transparent;
    }
    #nav.active #arrow-click::before {
      transform: rotate(135deg);
    }
    #nav.active #arrow-click::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
/*end menu media*/
/****************END HEADER******************/
/******************FOOTER********************/
footer{
    padding-top: 10%;
    padding-bottom: 5%;
}
footer h1{
    font-family: 'Poppins-Regular';
    color: #707070;
    font-size: 15px;
    text-align: center;
}
.footer-social{
    justify-content: center;
    padding-top: 2%;
}
.footer-social img{
    margin: 0 10px;
}
#in{
    width: 22px;
}
#fb{
    width: 22px;
}
#ig{
    width: 25px;
}
#be{
    width: 30px;
}
/****************END FOOTER******************/
/****************SEC-JOB*********************/
.sec-job{
    padding: 0 15%;
}
.title-job {
    padding: 5% 0;
}
.title-job h1{
    font-family: 'Outer-Thin';
}
.title-job a{
    font-family: 'Elegant-Icons';
    color: black;
    /*background-color: #40404038;*/
    background: linear-gradient(to left, black, rgb(31, 34, 34));
    border-radius: 100px;
    font-size: 30px;
    font-weight: bold;
    /*padding: 7px 35px;*/
    padding: 7px 113px 7px 19px;
    margin-right: 2%;
    transition: .2s;
}
.title-job a:hover{
    background: linear-gradient(to left, black, rgb(31 34 34 / 54%));
    color: white;
    transition: .2s;
}

.sec-job p{
    font-family: 'Poppins-Regular';
    margin-bottom: 4%;
}
.job-post-container img{
    width: 100%;
}

/*************END SEC-JOB********************/
/*************MEDIA SCREEN*******************/
@media screen and (min-width:1700px){
    /*HEADER*/
    .header-menu a{
        font-size: 30px;
    }
    /*end HEADER*/
    /*content*/
    .sec-job p {
        font-size: 22px;
    }
    .title-job h1 {
        font-size: 40px;
    }
    /*end content*/
    /*footer*/
    footer h1{
        font-size: 21px;
    }
    #ig {
        width: 35px;
    }
    #fb {
        width: 30px;
    }
    #be {
        width: 40px;
    }
    #in {
        width: 28px;
    }
    /*end footer*/
}
/************END MEDIA SCREEN****************/